{% extends ['page.html.twig', '_default/page.html.twig'] %}

      {%- block sections ~%}
      <section id="main" class="row">
        {{ 'Page not found.'|trans }}
      </section>
      {%- endblock ~%}